.header {
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  position: sticky;
  margin: 1.5rem 0;
  border-radius: 10px;
  z-index: 100;
  line-height: 0.2em;
}
.header h1 {
  font-size: 2rem;
}

svg {
  width: 30px;
  height: 30px;
  margin-left: 20%;
}

.footer {
  text-align: center;
  padding-bottom: 20px;
  margin-top: 0;
  border-radius: 10px;
}
